<!DOCTYPE html>
<html>
  <head>
    <title>Users page with <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users page with <%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
